# The format which the backup file names follow.
# You can use %%date%% here to insert the date. The format of the date can be
# changed below.
file-name: 'backup-%%date%%.zip'

# The format which dates in the backup file names follow.
# See https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html for more info.
date-format: 'dd-MM-yyyy-HHmm'

# The higher this number is, the more the zip file will be compressed.
# A higher compression level means the zip file will be smaller, but it
# will also take longer to generate.
# The maximum compression level is 9.
compression-level: 9

# The maximum size of the backup folder. If the backup folder exceeds this size,
# the oldest backup is deleted. This amount is in GB.
# You can also set this to -1 to disable automatic deletion of old backups.
max-backup-folder-size: 10

# The files and folders specified here will not be included in a backup.
# You can add more entries, but removing the ones included by default is
# not recommended.
#
# NOTE: If running on Windows, any forward slashes will automatically be
#       replaced with backward slashes.
exempt:
  - 'logs'
  - 'cache'
  - 'server.jar'
  - 'plugins/dynmap/web/tiles'

# Specifies the interval in percent at which a progress update message gets sent.
percentage-log-interval: 5

# List of terminal commands that get executed after backup completion.
# (For example, this could be used to run rsync)
# This does not execute the commands from the Minecraft server console!
# For that you should use the console-commands section below
terminal-commands: []

# List of commands that get executed after backup completion.
# (For example, this could be used to send a mesage in-game)
# Console commands get executed before executing terminal commands
console-commands: []

schedule:
  # You can enter the times at which the backup should run below.
  # Just enter the time (24-hour clock) to run the backup daily at
  # that time. You can also enter weekday(s) before it to only run
  # the backup on that day.
  #
  # Examples:
  # - '17:00' (runs every day at 17:00)
  # - 'Mon 7:30' (runs every Monday at 07:30)
  # - 'Tue Wed Thu 8:00' (runs every Tuesday, Wednesday and Thursday at 8:00)
  #
  # You can also leave this list empty which will disable automatic backups.
  times:
    - '17:00'

  # This controls the amount of time in seconds between the plugin
  # checking if it is time for a backup.
  check-interval: 5

# These announcements get sent to everyone on the server.
# You can enable/disable each indivual annoucement type
# by setting 'enabled' to true/false, and edit the message.
announcements:
  backup-starting:
    enabled: false
    message: '&aA backup is starting. This may cause some temporary lag.'
  backup-finished:
    enabled: false
    message: '&aThe backup has finished.'
  backup-aborted:
    enabled: false
    message: '&cThe backup was aborted.'
